h1{
  color: purple;
  font-size:50px;
  font-family: 'Arial', sans-serif;
  font-weight: 5pt;
  text-decoration: bold;
}

h2 {
  font-size: 20px;
  color: #00008B;
}

body {
    background-color: lightblue;
}

      .dropbtn {
          background-color: purple;
          color: white;
          padding: 16px;
          font-size: 20px;
          border: none;
          cursor: pointer;
          position: absolute;
		  top: -300px; left: 30px;
      }

      .dropbtn:hover, .dropbtn:focus {
          background-color: purple;
      }

      #myInput {
          border-box: box-sizing;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 24px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
      }

      #myInput:focus {outline: 3px solid #ddd;}

      .dropdown {
          position: relative;
          display: inline-block;
      }

      .dropdown-content {
          display: none;
          position: center;
          background-color: lightblue;
          min-width: 230px;
          overflow: auto;
          z-index: 1;
      }

      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

      .dropdown a:hover {background-color: black;}

      .show {display: block;}
